﻿
@{
    ViewBag.Title = "Role Manager";
    Layout = "~/Views/Shared/_LayoutPrm.cshtml";
}
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="~/admin">Admin</a>
        </li>
        <li class="active">Role Manager</li>
    </ul><!-- /.breadcrumb -->

    <div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
                <i class="ace-icon fa fa-search nav-search-icon"></i>
            </span>
        </form>
    </div><!-- /.nav-search -->
</div>
<div class="page-header">
    <h1>
        Role Manager
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            adding, updating and removing of role  from the system
        </small>
    </h1>
</div>

<div class="text-center container">

    <div class="widget-box widget-color-blue ui-sortable-handle" id="widget-box-2">
        <div class="widget-header">
            <h5 class="widget-title bigger lighter">
                <i class="ace-icon fa fa-table"></i>
               System Role
            </h5>
           
        </div >

        <div class="widget-body">
            <div class="widget-main no-padding">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thin-border-bottom">
                        <tr>
                            <th>                               
                                SN
                            </th>

                            <th>
                                <i></i>
                                Role Name
                            </th>
                            <th >Description</th>
                            <th>Date Added</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="">1</td>

                            <td>
                                <a href="#">Admin</a>
                            </td>

                            <td class="hidden-480">
                               This the Prm main overall role
                            </td>
                            <td>@DateTime.Now.ToString("dd-MMM-yyyy")</td>
                            <td><a><i class="glyphicon glyphicon-pencil"></i></a></td>
                            <td><a><i class="glyphicon glyphicon-trash"></i></a></td>
                        </tr>
                      
                    </tbody>
                </table>
            </div>
        </div>

       
    </div>
    <div class="text-left">

        <a href="#my-modal" type="button"   class="btn btn-info btn-sm" data-toggle="modal">
            Add New Role
        </a>

    </div>
    
</div>



<div id="my-modal" class="modal fade" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="smaller lighter blue no-margin">A modal with a slider in it!</h3>
            </div>

            <div class="modal-body">
                Some content
                <br>
                <br>
                <br>
                <br>
                <br>
                1
                <br>
                <br>
                <br>
                <br>
                <br>
                2
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm btn-danger pull-right" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Close
                </button>
            </div>
        </div><!-- /.modal-content -->
        <div id="aside-inside-modal" class="modal aside aside-contained aside-bottom aside-hz aside-dark no-backdrop aside-hidden" data-placement="bottom" data-background="true" data-backdrop="false" tabindex="-1" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content ace-scroll">
                    <div class="scroll-track scroll-white no-track idle-hide" style="display: none;"><div class="scroll-bar" style="top: 0px;"></div></div><div class="scroll-content">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-12 white">
                                    <h3 class="lighter no-margin">Inside another modal</h3>

                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->

                <button class="btn btn-default btn-app btn-xs ace-settings-btn aside-trigger" data-target="#aside-inside-modal" data-toggle="modal" type="button">
                    <i data-icon2="fa-arrow-down" data-icon1="fa-arrow-up" class="ace-icon fa bigger-110 icon-only fa-arrow-up"></i>
                </button>
            </div><!-- /.modal-dialog -->
        </div>
    </div><!-- /.modal-dialog -->
</div>

