﻿
.generaltextfont {
 
    font-family:Corbel!important;

}
.padsmall {
 
    padding:4px!important;
}

.leavespace {

    height:8px!important;
}
.logotextcolor {

    color:#777!important;
}
.nopaddingL {
  padding-left:0px!important;
}
.nopaddingR {
  padding-right:0px!important;
}
.bordercolorred {
 border-color:red!important;
}
.nounderline a:hover {
 text-decoration:none!important;
}
.equalbtn {
padding-left:12px;padding-right:12px; border:none;
}

