﻿
@{
    ViewBag.Title = "Add New Property";
    Layout = "~/Views/Shared/_LayoutPrm.cshtml";
}


<div class="main-content-inner" ng-app="ngmodulowner">

    <div ng-controller="ngcontrollerowner">

        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">Property</a>
                </li>
                <li class="active">Add New Property</li>
            </ul><!-- /.breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
                    <span class="input-icon">
                        <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                        <i class="ace-icon fa fa-search nav-search-icon"></i>
                    </span>
                </form>
            </div><!-- /.nav-search -->
        </div>
        <div class="page-header">
            <h1 class="text-center">
               Add New Property 
                @*<small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        Common Button &amp; Icons
                    </small>*@
            </h1>
        </div>

        <div class="page-content">

            <div class="  col-xs-12 table-bordered padsmall ">

                <br />

                <div class="col-md-6 col-sm-6 col-xs-12">

                    <div><input type="text" class="form-control" placeholder="Property name" /></div>

                   <br />
                    <div class="leavespace"></div>
                    <div><input type="text" class="form-control" placeholder="Address" /></div>
                    <br />
                    
                    <div>
                        <select class="form-control bordercolorred">
                            <option value="">Select type</option>
                            <option value="1">Land</option>
                            <option value="2">House</option>
                        </select>
                    </div>
                    <div class="leavespace"></div>
                    <div class="leavespace"></div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div>
                    <textarea class="form-control" rows="2"></textarea>
                    </div>
                    <div class="leavespace"></div>

                    <div>
                        <select class="form-control bordercolorred">
                            <option value="">Select location country</option>
                            <option value="1">Nigeria</option>
                        </select>
                    </div>
                    <div class="leavespace"></div>


                    <div>
                        <div class="leavespace"></div>
                        <button class="btn btn-inverse form-control" ng-click="ownerproperty()">Save</button>
                    </div>
                    <div class="leavespace"></div>

                    <div class="text-right nounderline">
                        <a href="#" data-toggle="modal" data-target="#addsubproperty">Add sub property</a>
                    </div>

                    <div class="modal fade bootstrap-modal" data-keyboard="false" data-backdrop="static" id="addsubproperty" tabindex="-1" role="dialog" aria-labelledby="variantModalLabel" aria-hidden="true">
                        <div class="modal-dialog" style="max-width:550px;">
                            <div class="modal-content " style="border-radius:0px;">
                                <div class="modal-header" style="padding:5px; background-color:#337ab7; color:white; ">
                                    <button type="button" class="close btn-modal-close" data-dismiss="modal" style="color: white !important;z-index:9999999999;" aria-hidden="true">×</button>
                                    <div class="modal-title" id="myModalLabel" style="color:white!important;">
                                        <h3 id="modalCustomerName" style="padding-top: 0px; margin-top: 5px; text-align: center; color: white !important;">Add Sub Property</h3>
                                    </div>
                                </div>
                                <div class="modal-body">

                                    <div class="errortext checklistsaveerror " style="color:red"></div>
                                    <div class="text-success checklistaddsuccess "></div>

                                    <div><input type="hidden" id="sampleId" /></div>
                                    <div class="row text-center">
                                        <div class="col-md-12">
                                            <small>Email Address</small>
                                            <input type="text" class="form-control ApprovalemailAddress text-center" value="" />
                                        </div>

                                        <div class="clearfix"></div>

                                        <div class="leavespace"></div>

                                    </div>
                                </div>
                                <div class="modal-footer">

                                    <div class="text-center">

                                       
                                        <input type="button" value="Close" class="btn btn-inverse btn-close-modal equalbtn" data-dismiss="modal"  />

                                        <img src="~/Images/loading.gif" ng-show="loadingresendapproval" width="50" />

                                        <input type="button" value="Add" ng-hide="loadingresendapproval" class="btn btn-primary equalbtn" ng-click=""   />

                                    </div>

                                    <div class="clearfix"></div>

                                </div>
                            </div>


                        </div>

                    </div>

                </div>

                <div class="clearfix"></div>

                <br />

            </div>

           <div class="col-xs-12">
              <div class="nounderline">
                  <a href="">Add image or document</a>
              </div>
           </div>
        </div><!-- /.page-content -->


    </div>



</div>
<script src="~/Scripts/App/property/owner.js"></script>

