﻿
@{
    ViewBag.Title = "Add Owner";
    Layout = "~/Views/Shared/_LayoutPrm.cshtml";
}

<div class="main-content-inner" ng-app="ngmodulowner" >
   
    <div ng-controller="ngcontrollerowner">

        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">Property</a>
                </li>
                <li class="active">Add Owner</li>
            </ul><!-- /.breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
                    <span class="input-icon">
                        <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                        <i class="ace-icon fa fa-search nav-search-icon"></i>
                    </span>
                </form>
            </div><!-- /.nav-search -->
        </div>
        <div class="page-header">
            <h1>
                New Property Owner
                @*<small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Common Button &amp; Icons
                </small>*@
            </h1>
        </div>

        <div class="page-content">

            <div class="col-md-8  col-xs-12 table-bordered padsmall ">

                <br />

                <div class="col-md-6 col-xs-12">

                    <div><input type="text" class="form-control" placeholder="Enter name" /></div>

                    <div class="leavespace"></div>
                    <div><input type="text" class="form-control" placeholder="Enter email" /></div>
                    <div class="leavespace"></div>

                    <div><input type="text" class="form-control" placeholder="Enter phone" /></div>

                    <div class="leavespace"></div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div><input type="password" class="form-control" placeholder="Enter password" /></div>
                    <div class="leavespace"></div>

                    <div><input type="password" class="form-control" placeholder="Confirm password" /></div>
                    <div class="leavespace"></div>


                    <div>
                        <div class="col-xs-6 nopaddingL ">
                            <select class="form-control bordercolorred">
                                <option value="">Select country</option>
                                <option value="1">Nigeria</option>
                            </select>
                        </div>
                        <div class="col-xs-6 nopaddingR">
                            <button class="btn btn-inverse form-control" ng-click="ownerproperty()">Save</button>
                        </div>

                    </div>
                    <div class="leavespace"></div>
                </div>

                <div class="clearfix"></div>


                <br />

            </div>

            <div class="col-md-4 col-xs-12">

            </div>

        </div><!-- /.page-content -->


    </div>
    


</div>
<script src="~/Scripts/App/property/owner.js"></script>

