﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrm.cshtml";
}

<div class="main-content-inner" ng-app="ngmodulowner">

    <div ng-controller="ngcontrollerowner">

        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#"> </a>
                </li>
                <li class="active">Property Deatils</li>
            </ul><!-- /.breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
                    <span class="input-icon">
                        <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                        <i class="ace-icon fa fa-search nav-search-icon"></i>
                    </span>
                </form>
            </div><!-- /.nav-search -->
        </div>
        <div class="page-header">
            <h1 class="text-center">
                Name go in here
                @*<small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        Common Button &amp; Icons
                    </small>*@
            </h1>
        </div>

        <div class="page-content">

            <div class="  col-xs-12 table-bordered padsmall ">

                

            </div>

            <div class="col-xs-12">
                
            </div>
        </div><!-- /.page-content -->


    </div>



</div>
<script src="~/Scripts/App/property/owner.js"></script>

